**Data mining Project - University of Pisa, acedemic year 2023/24**

**Authors**: Giacomo Aru, Giulia Ghisolfi, Luca Marini, Irene Testa

# Preparation of Mortality Data

Mortality data was downloaded from [CDC WONDER](https://wonder.cdc.gov) through the request form. Since the number of records we wanted to dowload exceeded the maximum number of records that can be downloaded at once, we had to do two queries, one for males and one for females. This notebook combines the two datasets and prepares the data for the analysis.

More information about the data can be found at the following URL: [Multiple Cause of Death 1999 - 2020](https://wonder.cdc.gov/wonder/help/mcd.html).

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# notebook settings
pd.set_option('display.max_colwidth', -1)

C:\Users\giuli\AppData\Local\Temp\ipykernel_3172\3358451517.py:6: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  pd.set_option('display.max_colwidth', -1)

In [3]:
# display metadata
males_metadata = pd.read_fwf('../data/external_data/deaths_males_metadata.txt', header=None)
males_metadata

                                                                                                                                     0
0   "---"
1   "Dataset: Multiple Cause of Death, 1999-2020"
2   "Query Parameters:"
3   "Gender: Male"
4   "Year/Month: 2013; 2014; 2015; 2016; 2017; 2018; 2019; 2020"
5   "Group By: State; Single-Year Ages; Gender; Year"
6   "Show Totals: Disabled"
7   "Show Zero Values: True"
8   "Show Suppressed: True"
9   "Calculate Rates Per: 100,000"
10  "Rate Options: Default intercensal populations for years 2001-2009 (except Infant Age Groups)"
11  "---"
12  "Help: See http://wonder.cdc.gov/wonder/help/mcd.html for more information."
13  "---"
14  "Query Date: Oct 27, 2023 12:53:29 PM"
15  "---"
16  "Suggested Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. National Vital Statistics"
17  "System, Mortality 1999-2020 on CDC WONDER Online Database, released in 2021. Data are from the Multiple Cause of Death Files,"
18  "1999-2020, as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative"
19  "Program. Accessed at http://wonder.cdc.gov/mcd-icd10.html on Oct 27, 2023 12:53:29 PM"
20  "---"
21  Messages:
22  "1. Totals are not available for these results due to suppression constraints. More Information:"
23  "http://wonder.cdc.gov/wonder/help/faq.html#Privacy."
24  "---"
25  Caveats:
26  "1. Population and rates are labeled 'Not Applicable' when they include a subset of ages 85-100+ because populations are not"
27  "available for those ages. More information: http://wonder.cdc.gov/wonder/help/mcd.html#Ages 85-100."
28  "2. As of April 3, 2017, the underlying cause of death has been revised for 125 deaths in 2014. More information:"
29  "http://wonder.cdc.gov/wonder/help/mcd.html#2014-Revision."
30  "3. Data are Suppressed when the data meet the criteria for confidentiality constraints. More information:"
31  "http://wonder.cdc.gov/wonder/help/mcd.html#Assurance of Confidentiality."
32  "4. Death rates are flagged as Unreliable when the rate is calculated with a numerator of 20 or less. More information:"
33  "http://wonder.cdc.gov/wonder/help/mcd.html#Unreliable."
34  "5. Deaths of persons with Age ""Not Stated"" are included in ""All"" counts and rates, but are not distributed among age groups,"
35  "so are not included in age-specific counts, age-specific rates or in any age-adjusted rates. More information:"
36  "http://wonder.cdc.gov/wonder/help/mcd.html#Not Stated."
37  "6. The population figures for year 2020 are bridged-race estimates of the July 1 resident population, from the Vintage 2020"
38  "postcensal series released by NCHS on September 22, 2021. The population figures for year 2019 are bridged-race estimates of the"
39  "July 1 resident population, from the Vintage 2019 postcensal series released by NCHS on July 9, 2020. The population figures for"
40  "year 2018 are bridged-race estimates of the July 1 resident population, from the Vintage 2018 postcensal series released by NCHS"
41  "on June 25, 2019. The population figures for year 2017 are bridged-race estimates of the July 1 resident population, from the"
42  "Vintage 2017 postcensal series released by NCHS on June 27, 2018. The population figures for year 2016 are bridged-race"
43  "estimates of the July 1 resident population, from the Vintage 2016 postcensal series released by NCHS on June 26, 2017. The"
44  "population figures for year 2015 are bridged-race estimates of the July 1 resident population, from the Vintage 2015 postcensal"
45  "series released by NCHS on June 28, 2016. The population figures for year 2014 are bridged-race estimates of the July 1 resident"
46  "population, from the Vintage 2014 postcensal series released by NCHS on June 30, 2015. The population figures for year 2013 are"
47  "bridged-race estimates of the July 1 resident population, from the Vintage 2013 postcensal series released by NCHS on June 26,"
48  "2014. The population figures for year 2012 are bridged-race estimates of the July 1 resident population, from the Vintage 2012"
49  "postcensal series released by NCHS on June 13, 2013. Population figures for 2011 are bridged-race estimates of the July 1"
50  "resident population, from the county-level postcensal Vintage 2011 series released by NCHS on July 18, 2012. Population figures"
51  "for 2010 are April 1 Census counts. The population figures for years 2001 - 2009, are bridged-race estimates of the July 1"
52  "resident population, from the revised intercensal county-level 2000 - 2009 series released by NCHS on October 26, 2012."
53  "Population figures for 2000 are April 1 Census counts. Population figures for 1999 are from the 1990-1999 intercensal series of"
54  "July 1 estimates. Population figures for Infant Age Groups are the number of live births. <br/><b>Note:</b> Rates and population"
55  "figures for years 2001 - 2009 differ slightly from previously published reports, due to use of the population estimates which"
56  "were available at the time of release."
57  "7. The population figures used in the calculation of death rates for the age group 'under 1 year' are the estimates of the"
58  "resident population that is under one year of age. More information: http://wonder.cdc.gov/wonder/help/mcd.html#Age Group."

In [5]:
males_deaths = pd.read_csv('../data/external_data/deaths_males.txt', sep='\t')
males_deaths.head(n=5)

,Notes,State,State Code,Single-Year Ages,Single-Year Ages Code,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,0,Male,M,2013,2013,277,29884,926.9
1,NaN,Alabama,1,< 1 year,0,Male,M,2014,2014,289,29508,979.4
2,NaN,Alabama,1,< 1 year,0,Male,M,2015,2015,279,29595,942.7
3,NaN,Alabama,1,< 1 year,0,Male,M,2016,2016,295,29784,990.5
4,NaN,Alabama,1,< 1 year,0,Male,M,2017,2017,236,29605,797.2

In [6]:
males_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41616 entries, 0 to 41615
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Notes                  0 non-null      float64
 1   State                  41616 non-null  object
 2   State Code             41616 non-null  int64
 3   Single-Year Ages       41616 non-null  object
 4   Single-Year Ages Code  41616 non-null  object
 5   Gender                 41616 non-null  object
 6   Gender Code            41616 non-null  object
 7   Year                   41616 non-null  int64
 8   Year Code              41616 non-null  int64
 9   Deaths                 41616 non-null  object
 10  Population             41616 non-null  object
 11  Crude Rate             41616 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 3.8+ MB

In [7]:
ages = males_deaths['Single-Year Ages'].unique()
ages

array(['< 1 year', '1 year', '2 years', '3 years', '4 years', '5 years',
       '6 years', '7 years', '8 years', '9 years', '10 years', '11 years',
       '12 years', '13 years', '14 years', '15 years', '16 years',
       '17 years', '18 years', '19 years', '20 years', '21 years',
       '22 years', '23 years', '24 years', '25 years', '26 years',
       '27 years', '28 years', '29 years', '30 years', '31 years',
       '32 years', '33 years', '34 years', '35 years', '36 years',
       '37 years', '38 years', '39 years', '40 years', '41 years',
       '42 years', '43 years', '44 years', '45 years', '46 years',
       '47 years', '48 years', '49 years', '50 years', '51 years',
       '52 years', '53 years', '54 years', '55 years', '56 years',
       '57 years', '58 years', '59 years', '60 years', '61 years',
       '62 years', '63 years', '64 years', '65 years', '66 years',
       '67 years', '68 years', '69 years', '70 years', '71 years',
       '72 years', '73 years', '74 years', '75 years', '76 years',
       '77 years', '78 years', '79 years', '80 years', '81 years',
       '82 years', '83 years', '84 years', '85 years', '86 years',
       '87 years', '88 years', '89 years', '90 years', '91 years',
       '92 years', '93 years', '94 years', '95 years', '96 years',
       '97 years', '98 years', '99 years', '100+ years', 'Not Stated'],
      dtype=object)

We notice there are also "Not Stated" ages.

In [8]:
males_deaths[males_deaths['Single-Year Ages']=='Not Stated']

,Notes,State,State Code,Single-Year Ages,Single-Year Ages Code,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
808,NaN,Alabama,1,Not Stated,NS,Male,M,2013,2013,Suppressed,Not Applicable,Not Applicable
809,NaN,Alabama,1,Not Stated,NS,Male,M,2014,2014,0,Not Applicable,Not Applicable
810,NaN,Alabama,1,Not Stated,NS,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
811,NaN,Alabama,1,Not Stated,NS,Male,M,2016,2016,0,Not Applicable,Not Applicable
812,NaN,Alabama,1,Not Stated,NS,Male,M,2017,2017,0,Not Applicable,Not Applicable
...,...,...,...,...,...,...,...,...,...,...,...,...
41611,NaN,Wyoming,56,Not Stated,NS,Male,M,2016,2016,0,Not Applicable,Not Applicable
41612,NaN,Wyoming,56,Not Stated,NS,Male,M,2017,2017,0,Not Applicable,Not Applicable
41613,NaN,Wyoming,56,Not Stated,NS,Male,M,2018,2018,0,Not Applicable,Not Applicable
41614,NaN,Wyoming,56,Not Stated,NS,Male,M,2019,2019,0,Not Applicable,Not Applicable
41615,NaN,Wyoming,56,Not Stated,NS,Male,M,2020,2020,0,Not Applicable,Not Applicable

In [9]:
child_ages = [ages[i] for i in range(12)]
teen_ages = [ages[i] for i in range(12, 18)]
adult_ages = [ages[i] for i in range(18, len(ages)-1)]

In [10]:
males_deaths['Gender'].unique()

array(['Male'], dtype=object)

In [11]:
males_deaths['Year'].unique()

array([2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020], dtype=int64)

In [12]:
males_deaths['State'].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

For privacy reasons, deaths are suppressed when the count is between 1 and 9.

In [13]:
males_deaths[(males_deaths['Deaths']=='Suppressed')]

,Notes,State,State Code,Single-Year Ages,Single-Year Ages Code,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
17,NaN,Alabama,1,2 years,2,Male,M,2014,2014,Suppressed,29879,Suppressed
18,NaN,Alabama,1,2 years,2,Male,M,2015,2015,Suppressed,29385,Suppressed
20,NaN,Alabama,1,2 years,2,Male,M,2017,2017,Suppressed,30234,Suppressed
25,NaN,Alabama,1,3 years,3,Male,M,2014,2014,Suppressed,30513,Suppressed
27,NaN,Alabama,1,3 years,3,Male,M,2016,2016,Suppressed,29287,Suppressed
...,...,...,...,...,...,...,...,...,...,...,...,...
41601,NaN,Wyoming,56,100+ years,100,Male,M,2014,2014,Suppressed,Not Applicable,Not Applicable
41602,NaN,Wyoming,56,100+ years,100,Male,M,2015,2015,Suppressed,Not Applicable,Not Applicable
41603,NaN,Wyoming,56,100+ years,100,Male,M,2016,2016,Suppressed,Not Applicable,Not Applicable
41605,NaN,Wyoming,56,100+ years,100,Male,M,2018,2018,Suppressed,Not Applicable,Not Applicable
41607,NaN,Wyoming,56,100+ years,100,Male,M,2020,2020,Suppressed,Not Applicable,Not Applicable

In [14]:
males_deaths['age_group'] = males_deaths['Single-Year Ages'].apply(
    lambda x: 'male_child' if x in child_ages else ('male_teen' if x in teen_ages else ('male_not_stated' if x=='Not Stated' else 'male_adult')))
males_deaths['Deaths_temp'] = pd.to_numeric(males_deaths['Deaths'], errors='coerce') # temporary discard suppressed values
males_deaths_grouped = males_deaths.groupby(['State', 'Year', 'age_group'])['Deaths_temp'].sum().unstack()
males_deaths_grouped['male_total'] = males_deaths_grouped.sum(axis=1)
males_deaths_grouped['perc_male_child'] = (males_deaths_grouped['male_child']/males_deaths_grouped['male_total'])*100
males_deaths_grouped['perc_male_teen'] = (males_deaths_grouped['male_teen']/males_deaths_grouped['male_total'])*100
males_deaths_grouped['perc_male_adult'] = (males_deaths_grouped['male_adult']/males_deaths_grouped['male_total'])*100
males_deaths_grouped.describe()

age_group,male_adult,male_child,male_not_stated,male_teen,male_total,perc_male_child,perc_male_teen,perc_male_adult
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000
mean,27876.218137,293.487745,0.975490,75.772059,28246.453431,0.985043,0.197323,98.816428
std,28410.994216,340.714122,4.342735,95.661717,28823.045504,0.324470,0.147805,0.408554
min,2084.000000,10.000000,0.000000,0.000000,2122.000000,0.292713,0.000000,97.545527
25%,7644.250000,67.000000,0.000000,0.000000,7687.000000,0.755041,0.000000,98.574089
50%,20566.500000,196.000000,0.000000,52.000000,20866.000000,0.970648,0.227524,98.795548
75%,33266.000000,346.500000,0.000000,104.250000,33685.000000,1.171927,0.314589,99.116826
max,169993.000000,1752.000000,35.000000,557.000000,171789.000000,2.058505,0.667345,99.707287

We notice that the maximum values of perc_child and perc_teen is negligible w.r.t perc_adult. Therefore, when age is not stated we can assume it is adult:

In [15]:
males_deaths['age_group'] = males_deaths['Single-Year Ages'].apply(
    lambda x: 'male_child' if x in child_ages else ('male_teen' if x in teen_ages else 'male_adult'))

Also, for each state, we replace suppressed values with the mean number of deaths for that age if it is smaller or equal than 9; oterwise we replace it with 9 (the maximum for a suppressed value). If for a given age the number of deaths is always suppressed, we replace suppresed values with 1.

In [16]:
males_deaths['Deaths_temp'] = males_deaths['Deaths']
males_deaths['Deaths'] = males_deaths['Deaths'].apply(lambda x: 1 if x=='Suppressed' else int(x))
mean_deaths_per_state = males_deaths[males_deaths['Deaths_temp']!='Suppressed'].groupby(['State', 'Single-Year Ages'])['Deaths'].mean()
mean_deaths_per_state[mean_deaths_per_state>9] = 9
mean_deaths_per_state = mean_deaths_per_state.astype(int)
males_deaths['Deaths'] = males_deaths.apply(lambda x: mean_deaths_per_state.loc[x['State'], x['Single-Year Ages']] if x['Deaths_temp']=='Suppressed' and (x['State'],x['Single-Year Ages']) in mean_deaths_per_state.index else x['Deaths'], axis=1)
males_deaths.drop(columns=['Deaths_temp'], inplace=True)
males_deaths_grouped = males_deaths.groupby(['State', 'Year', 'age_group'])['Deaths'].sum().unstack()
males_deaths_grouped.reset_index(inplace=True)
males_deaths_grouped.rename(columns={'State': 'state', 'Year': 'year'}, inplace=True)
males_deaths_grouped

age_group    state  year  male_adult  male_child  male_teen
0          Alabama  2013  25303       379         92
1          Alabama  2014  24960       389         103
2          Alabama  2015  26160       373         91
3          Alabama  2016  26384       391         104
4          Alabama  2017  26967       345         99
..             ...   ...    ...       ...         ..
403        Wyoming  2016  2511        25          2
404        Wyoming  2017  2557        17          2
405        Wyoming  2018  2677        17          2
406        Wyoming  2019  2786        26          2
407        Wyoming  2020  3236        16          2

[408 rows x 5 columns]

Now we explore and fix females deaths:

In [18]:
# display metadata
females_metadata = pd.read_fwf('../data/external_data/deaths_females_metadata.txt', header=None)
females_metadata

                                                                                                                                     0
0   "---"
1   "Dataset: Multiple Cause of Death, 1999-2020"
2   "Query Parameters:"
3   "Gender: Female"
4   "Year/Month: 2013; 2014; 2015; 2016; 2017; 2018; 2019; 2020"
5   "Group By: State; Single-Year Ages; Gender; Year"
6   "Show Totals: Disabled"
7   "Show Zero Values: True"
8   "Show Suppressed: True"
9   "Calculate Rates Per: 100,000"
10  "Rate Options: Default intercensal populations for years 2001-2009 (except Infant Age Groups)"
11  "---"
12  "Help: See http://wonder.cdc.gov/wonder/help/mcd.html for more information."
13  "---"
14  "Query Date: Oct 27, 2023 12:48:39 PM"
15  "---"
16  "Suggested Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. National Vital Statistics"
17  "System, Mortality 1999-2020 on CDC WONDER Online Database, released in 2021. Data are from the Multiple Cause of Death Files,"
18  "1999-2020, as compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative"
19  "Program. Accessed at http://wonder.cdc.gov/mcd-icd10.html on Oct 27, 2023 12:48:39 PM"
20  "---"
21  Messages:
22  "1. Totals are not available for these results due to suppression constraints. More Information:"
23  "http://wonder.cdc.gov/wonder/help/faq.html#Privacy."
24  "---"
25  Caveats:
26  "1. Population and rates are labeled 'Not Applicable' when they include a subset of ages 85-100+ because populations are not"
27  "available for those ages. More information: http://wonder.cdc.gov/wonder/help/mcd.html#Ages 85-100."
28  "2. As of April 3, 2017, the underlying cause of death has been revised for 125 deaths in 2014. More information:"
29  "http://wonder.cdc.gov/wonder/help/mcd.html#2014-Revision."
30  "3. Data are Suppressed when the data meet the criteria for confidentiality constraints. More information:"
31  "http://wonder.cdc.gov/wonder/help/mcd.html#Assurance of Confidentiality."
32  "4. Death rates are flagged as Unreliable when the rate is calculated with a numerator of 20 or less. More information:"
33  "http://wonder.cdc.gov/wonder/help/mcd.html#Unreliable."
34  "5. Deaths of persons with Age ""Not Stated"" are included in ""All"" counts and rates, but are not distributed among age groups,"
35  "so are not included in age-specific counts, age-specific rates or in any age-adjusted rates. More information:"
36  "http://wonder.cdc.gov/wonder/help/mcd.html#Not Stated."
37  "6. The population figures for year 2020 are bridged-race estimates of the July 1 resident population, from the Vintage 2020"
38  "postcensal series released by NCHS on September 22, 2021. The population figures for year 2019 are bridged-race estimates of the"
39  "July 1 resident population, from the Vintage 2019 postcensal series released by NCHS on July 9, 2020. The population figures for"
40  "year 2018 are bridged-race estimates of the July 1 resident population, from the Vintage 2018 postcensal series released by NCHS"
41  "on June 25, 2019. The population figures for year 2017 are bridged-race estimates of the July 1 resident population, from the"
42  "Vintage 2017 postcensal series released by NCHS on June 27, 2018. The population figures for year 2016 are bridged-race"
43  "estimates of the July 1 resident population, from the Vintage 2016 postcensal series released by NCHS on June 26, 2017. The"
44  "population figures for year 2015 are bridged-race estimates of the July 1 resident population, from the Vintage 2015 postcensal"
45  "series released by NCHS on June 28, 2016. The population figures for year 2014 are bridged-race estimates of the July 1 resident"
46  "population, from the Vintage 2014 postcensal series released by NCHS on June 30, 2015. The population figures for year 2013 are"
47  "bridged-race estimates of the July 1 resident population, from the Vintage 2013 postcensal series released by NCHS on June 26,"
48  "2014. The population figures for year 2012 are bridged-race estimates of the July 1 resident population, from the Vintage 2012"
49  "postcensal series released by NCHS on June 13, 2013. Population figures for 2011 are bridged-race estimates of the July 1"
50  "resident population, from the county-level postcensal Vintage 2011 series released by NCHS on July 18, 2012. Population figures"
51  "for 2010 are April 1 Census counts. The population figures for years 2001 - 2009, are bridged-race estimates of the July 1"
52  "resident population, from the revised intercensal county-level 2000 - 2009 series released by NCHS on October 26, 2012."
53  "Population figures for 2000 are April 1 Census counts. Population figures for 1999 are from the 1990-1999 intercensal series of"
54  "July 1 estimates. Population figures for Infant Age Groups are the number of live births. <br/><b>Note:</b> Rates and population"
55  "figures for years 2001 - 2009 differ slightly from previously published reports, due to use of the population estimates which"
56  "were available at the time of release."
57  "7. The population figures used in the calculation of death rates for the age group 'under 1 year' are the estimates of the"
58  "resident population that is under one year of age. More information: http://wonder.cdc.gov/wonder/help/mcd.html#Age Group."

In [20]:
females_deaths = pd.read_csv('../data/external_data/deaths_females.txt', sep='\t')
females_deaths.head(n=5)

,Notes,State,State Code,Single-Year Ages,Single-Year Ages Code,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
0,NaN,Alabama,1,< 1 year,0,Female,F,2013,2013,224,28555,784.5
1,NaN,Alabama,1,< 1 year,0,Female,F,2014,2014,227,28346,800.8
2,NaN,Alabama,1,< 1 year,0,Female,F,2015,2015,216,28422,760.0
3,NaN,Alabama,1,< 1 year,0,Female,F,2016,2016,242,28485,849.6
4,NaN,Alabama,1,< 1 year,0,Female,F,2017,2017,198,28297,699.7

In [21]:
females_deaths[(females_deaths['Deaths']=='Suppressed')]

,Notes,State,State Code,Single-Year Ages,Single-Year Ages Code,Gender,Gender Code,Year,Year Code,Deaths,Population,Crude Rate
13,NaN,Alabama,1,1 year,1,Female,F,2018,2018,Suppressed,28443,Suppressed
16,NaN,Alabama,1,2 years,2,Female,F,2013,2013,Suppressed,28767,Suppressed
18,NaN,Alabama,1,2 years,2,Female,F,2015,2015,Suppressed,28539,Suppressed
19,NaN,Alabama,1,2 years,2,Female,F,2016,2016,Suppressed,28883,Suppressed
21,NaN,Alabama,1,2 years,2,Female,F,2018,2018,Suppressed,29257,Suppressed
...,...,...,...,...,...,...,...,...,...,...,...,...
41214,NaN,Wyoming,56,51 years,51,Female,F,2019,2019,Suppressed,2976,Suppressed
41218,NaN,Wyoming,56,52 years,52,Female,F,2015,2015,Suppressed,3808,Suppressed
41219,NaN,Wyoming,56,52 years,52,Female,F,2016,2016,Suppressed,3668,Suppressed
41220,NaN,Wyoming,56,52 years,52,Female,F,2017,2017,Suppressed,3329,Suppressed
41227,NaN,Wyoming,56,53 years,53,Female,F,2016,2016,Suppressed,3761,Suppressed

We notice that suppressed values are different from those of males. Hence, the information about the gender was not suppressed and we do not need to care about counting deaths twice.

In [22]:
females_deaths['age_group'] = females_deaths['Single-Year Ages'].apply(
    lambda x: 'female_child' if x in child_ages else ('female_teen' if x in teen_ages else ('female_not_stated' if x=='Not Stated' else 'female_adult')))
females_deaths['Deaths_temp'] = pd.to_numeric(females_deaths['Deaths'], errors='coerce') # temporary discard suppressed values
females_deaths_grouped = females_deaths.groupby(['State', 'Year', 'age_group'])['Deaths_temp'].sum().unstack()
females_deaths_grouped['female_total'] = females_deaths_grouped.sum(axis=1)
females_deaths_grouped['perc_female_child'] = (females_deaths_grouped['female_child']/females_deaths_grouped['female_total'])*100
females_deaths_grouped['perc_female_teen'] = (females_deaths_grouped['female_teen']/females_deaths_grouped['female_total'])*100
females_deaths_grouped['perc_female_adult'] = (females_deaths_grouped['female_adult']/females_deaths_grouped['female_total'])*100
females_deaths_grouped.describe()

age_group,female_adult,female_child,female_not_stated,female_teen,female_total,perc_female_child,perc_female_teen,perc_female_adult
count,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000,408.000000
mean,26679.208333,224.992647,0.198529,27.941176,26932.340686,0.802090,0.056008,99.141649
std,26733.959729,266.099430,1.509120,49.964965,27027.739637,0.295130,0.067120,0.323083
min,1533.000000,0.000000,0.000000,0.000000,1566.000000,0.000000,0.000000,97.620464
25%,7349.750000,50.750000,0.000000,0.000000,7384.250000,0.617004,0.000000,98.989370
50%,19353.000000,146.500000,0.000000,10.000000,19532.000000,0.786572,0.032854,99.152388
75%,32449.250000,266.250000,0.000000,33.500000,32748.250000,0.934783,0.103082,99.353354
max,146761.000000,1376.000000,13.000000,266.000000,148011.000000,2.379536,0.282174,100.000000

Even for females, the maximum values of perc_child and perc_teen is negligible w.r.t perc_adult. When age is not stated we can again assume it is adult:

In [23]:
females_deaths['age_group'] = females_deaths['Single-Year Ages'].apply(
    lambda x: 'female_child' if x in child_ages else ('female_teen' if x in teen_ages else 'female_adult'))

We replace suppressed values as we did for males:

In [24]:
females_deaths['Deaths_temp'] = females_deaths['Deaths']
females_deaths['Deaths'] = females_deaths['Deaths'].apply(lambda x: 1 if x=='Suppressed' else int(x))
mean_deaths_per_state = females_deaths[females_deaths['Deaths_temp']!='Suppressed'].groupby(['State', 'Single-Year Ages'])['Deaths'].mean()
mean_deaths_per_state[mean_deaths_per_state>9] = 9
mean_deaths_per_state = mean_deaths_per_state.astype(int)
females_deaths['Deaths'] = females_deaths.apply(lambda x: mean_deaths_per_state.loc[x['State'], x['Single-Year Ages']] if x['Deaths_temp']=='Suppressed' and (x['State'],x['Single-Year Ages']) in mean_deaths_per_state.index else x['Deaths'], axis=1)
females_deaths.drop(columns=['Deaths_temp'], inplace=True)
females_deaths_grouped = females_deaths.groupby(['State', 'Year', 'age_group'])['Deaths'].sum().unstack()
females_deaths_grouped.reset_index(inplace=True)
females_deaths_grouped.rename(columns={'State': 'state', 'Year': 'year'}, inplace=True)
females_deaths_grouped

age_group    state  year  female_adult  female_child  female_teen
0          Alabama  2013  24090         274           48
1          Alabama  2014  24441         275           42
2          Alabama  2015  24964         267           57
3          Alabama  2016  25258         291           56
4          Alabama  2017  25533         249           52
..             ...   ...    ...         ...           ..
403        Wyoming  2016  2156          12            0
404        Wyoming  2017  2202          15            0
405        Wyoming  2018  2363          18            0
406        Wyoming  2019  2289          20            0
407        Wyoming  2020  2668          15            0

[408 rows x 5 columns]

We merge the two datasets:

In [25]:
deaths = females_deaths_grouped.merge(males_deaths_grouped, on=['state', 'year'], how='left')
deaths = deaths[['state', 'year', 'male_child', 'male_teen', 'male_adult', 'female_child', 'female_teen', 'female_adult']]
deaths

age_group,state,year,male_child,male_teen,male_adult,female_child,female_teen,female_adult
0,Alabama,2013,379,92,25303,274,48,24090
1,Alabama,2014,389,103,24960,275,42,24441
2,Alabama,2015,373,91,26160,267,57,24964
3,Alabama,2016,391,104,26384,291,56,25258
4,Alabama,2017,345,99,26967,249,52,25533
...,...,...,...,...,...,...,...,...
403,Wyoming,2016,25,2,2511,12,0,2156
404,Wyoming,2017,17,2,2557,15,0,2202
405,Wyoming,2018,17,2,2677,18,0,2363
406,Wyoming,2019,26,2,2786,20,0,2289
407,Wyoming,2020,16,2,3236,15,0,2668

We save the result:

In [26]:
deaths.to_csv('../data/deaths.csv', index=False)